root: true

[*]
# Indentation and spacing
indent_style: space
indent_size: 4
tab_width: 4
# New line preferences
end_of_line: lf
insert_final_newline: true
trim_trailing_whitespace: true

[*.json]
indent_size: 2
